{% extends "base.html" %}
    
{% block content %}
<div class="flex flex-col w-full h-full items-center">
  <h1 class="text-2xl mb-4">BrailleRAP portal</h1>
  <div class="w-2/3 flex flex-col items-center gap-4">
    
   
    <a href="/accessbrap/index.html" class="btn btn-blue w-full lg:w-2/3 mx-auto text-center">
      AccessBrailleRAP
    </a>
    
    <a href="/desktopbrap/index.html" class="btn btn-blue w-full lg:w-2/3 mx-auto text-center">
     DesktopBrailleRAP
    </a>
    
    <a href="/openstreet/index.html" class="btn btn-blue w-full lg:w-2/3 mx-auto text-center">
     OpenStreetTouch
    </a>
    
    <a href="/openstreet/index.html" class="btn btn-blue w-full lg:w-2/3 mx-auto text-center" disabled="true">
    TestBrailleRAP
    </a>
  </div>
  
  <div class ="flex flex-col md:flex-row item-centers mt-16">
    <a href="/logout" class="btn btn-blue w-full">
      Logout
    </a>
     

    {% if current_user %}
      
      
    {% if current_user.is_admin %}  
    <a href="/users" class="btn btn-blue w-full">
      Admin
    </a>
     <a href="/profile" class="btn btn-blue w-full">
      Profile
    </a>
    {% else %}
    <a href="/profile" class="btn btn-blue w-full">
      Profile
    </a>
    {% endif %}
    {% endif %}
  </div>

  <a href="/process" class="btn btn-blue mx-auto text-center">
      Process
    </a>
</div>
{% endblock %}
</body>
</html>
