{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<div class="flex flex-col bg-backgnd w-full h-full items-center">
  <h1>Connexion</h1>
  <p >Please log in to continue.</p>

  <form method="post" novalidate class="bg-amber-300">
    {{ form.hidden_tag() }}
    <div class="flex">
      {{ form.username.label }}
      {{ form.username(autofocus=true, class_="textedit") }}
      {% if form.username.errors %}
      <ul class="text-red-400">{% for e in form.username.errors %}<li>{{ e }}</li>{% endfor %}</ul>
      {% endif %}
    </div>
    <div class="flex">
      {{ form.password.label }}
      {{ form.password(class_="textedit") }}
      {% if form.password.errors %}
      <ul class="text-red-400">{% for e in form.password.errors %}<li>{{ e }}</li>{% endfor %}</ul>
      {% endif %}
    </div>
    {{ form.submit(class_="btn btn-blue") }}
  </form>

  <p style="margin-top:24px; margin-bottom:0;">
    No login yet ? <a href="{{ url_for('register') }}">Register a new user</a>
  </p>
</div>
{% endblock %}
