{% extends "base.html" %}
{% block title %}Host process list{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
{% endblock %}



{% block content %}
<div>
  <h1>Process list !!!</h1>
  <table>
    <thead>
    <tr>
      <th>Process</th>
      <th>Command line</th>
      <th>CPU</th>
    </tr>
    </thead>
    <tbody>
      {% for p in plist %}
        <tr>
          {% for d in p %}
            <td>
            {{d}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}